.removeButton,
.removeButton:hover {
  background-color: #ffffff !important;
}

.ui-multiselect .ui-multiselect-label {
  color: #7e868f;
}

.tag-component-dropdown {
  width: 232px;
}

.fancy-color-component-dropdown {
  width: 200px;
  height: 26px;
}
.custom-padding{padding: 0px 0px 0px 5px;}