.autoSaveOffer {
  color: red !important;
  width: 100%;
}
.finalSaveOffer {
  color: green !important;
  width: 100%;
}
.btndisplay
{
  display: block !important;
}
.btndisplaynone
{
  display: none !important;
}
.thm-b2b-stone-large{ font-size: 16px; font-weight: bold; color: #1c1f32;}
.thm-b2b-stone-small{font-size: 14px; font-weight: normal; color: #6d7085;}
.border{border-right: 1px solid;}
.thm-b2b-stone-circle{width: 40px; height: 40px; border-radius: 100px; border: dashed 0px #809dcf;}
.thm-b2b-stonelist-text{ color: #7e868f; font-size: 14px;}
.thm-b2b-stonelist-value{ font-size: 14px; color: #262a42;}
.thm-stonelist-bid-rate{font-size: 14px; font-weight: bold; color: #262a42;}
input{ border: 1px solid #809dcf !important ; border-radius: 2px}
input:read-only { background-color: #EBF4FA !important}
.btb-loading-content {
  text-align: center;
  margin: auto;
  font-size: 1.5em;
  }
 .icon-img
 {font-size: 34px}
.loader-apperance{text-align: center;}
.confirm-message-container{min-height: 300px;}
.btb-time{font-size: 12px;}
