.web-search-tab {
    padding: 0px 0px 0px 0px;
    border-bottom: 2px solid hsl(0, 0%, 88%) !important;
}

.dx-tabpanel .dx-tabs-wrapper {  display: block;  padding-left: 30px;}

.save-profile-btn {
  padding: 5px;
  margin-top: 20px;
}

.search-column-multiselect > .ui-multiselect-label-container {
  width: 400px;
}
