 .marg10 {
   margin: 10px 0px;
 }

 .profile-head,
 .profile-label {
   padding-left: 10px;
 }

 .profile-label {
   height: 20px;
 }

 .account-dtl-skeleton {
   display: inline-block;
   background-color: #f6f6f6;
   height: 10px;
   width: 100px;
   border-radius: 50px;
 }
