// #btbSubmissionContainer{max-height: 750px; overflow: auto; max-width: 100%;}
.no-view-request{text-align: center;font-size: 25px;}
.stone-detail-non-clickable{
    pointer-events: none;
    cursor: default;
}