#daypSearchResultContainer {
  height: 750px;
  width: 100%;
  overflow: auto;
}
.dayp-data-price-container{ width: 60px; float: left; }
.dayp-data-input{width: 100px;  }
.dayp-data-price{max-width: 60px;  overflow: hidden; white-space: nowrap;}
.marl4{ margin-left: 10px}
.divider{ width: 10px}
.grid-container{ margin-top: 0px; margin-bottom: 10px;}
