<div class="forgotForm-content ui-g-12" *ngIf="!isForgotPasswordSubmitted; else formSubmitted">
  <form [formGroup]="forgotForm" (ngSubmit)="submitForgotForm(forgotForm.value.email)">
    <div class="ui-g ui-g-11 forgot-pass-container">
      <div class="ui-g ui-g-12">
        <h2 class="fp-title">{{'Forgot Password'|translate}}</h2>
      </div>
      <div class="ui-g ui-g-12">
        <input id="emailId" placeholder="{{'Email ID'|translate}}" pInputText type="text" formControlName="email" autocomplete="off">
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="ui-g ui-g-12">
        <button id="submitForgotId" [dirStoreAudit]="'FORGOT PASSWORD'" [disabled]="forgotForm.invalid" type="submit" pButton label="{{'Submit'|translate}}" class="custom-btnPrimary">
    </button>
      </div>
      <div id="errorForgotMessage" class="ui-g-12 error" *ngIf="errorMessage">
        {{errorMessage | translate}}
      </div>
    </div>
  </form>
</div>

<ng-template #formSubmitted>
  <div class="text-center">
    <h2>{{'Resend Successful' |translate}}</h2>
    <div>
      {{'Email is sent to' |translate}} {{forgotForm.value.email}}.<br> {{'To login again, click' |translate}} <a class="redirectLogin" (click)="renderLoginPage()">{{'here' |translate}}</a>
    </div>
  </div>
</ng-template>
