.forgot-pass-container {
  margin: auto;
  float: none;
}

input {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  width: 90%;
  border: none;
  border-radius: 0;
}

.custom-btnPrimary {
  width: 90%;
  margin: 0px 0px;
}

.fp-title {
  font-size: 40px;
  font-weight: normal;
  line-height: normal;
}

.button:focus {
  outline: 0;
}

.form-group>div {
  margin-top: 20px;
}

.redirectLogin {
  text-decoration: underline;
  cursor: pointer;
}

@media(max-width: 768px) {
  .fp-title {
    font-size: 30px;
  }
}
