.hold-page-title  { font-size: 24px; font-weight: normal; line-height: normal; }
.page-margin{margin: 0px 30px;}
.hold-raw-box-container{border:1px solid; margin:10px 0px 0px 0px;border-radius: 4px;}
.icon-label {font-size: 14px;}

.hold-page-icons{ height: 20px; width: 20px; padding-top:15px;}
.hold-creat-package{float: right;}

.lbl-hold-value-large{font-size: 14px;padding:3px 5px;text-align:left; margin:0px 2px;}
.lbl-hold-value-small{font-size: 12px;padding:3px 5px;text-align:left; margin:0px 2px;}

.lbl-hold-value-stones{font-size: 14px;padding:3px 5px;text-align:left; margin:0px 2px;font-weight: bold;}
.grid-icon-top{ padding-left: 10px;}
