.wrapper__minify {
  margin-left: 70px;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

.wrapper {
  margin-left: 200px;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
