.event-name{
  font-size: 24px;
 font-weight: normal;
  line-height: normal;
}

.tabPanel-event {
  padding: 45px 20px 0 0;
}

.book-appointment{ margin-top: 0px; margin-bottom: 0px;}
.page-search-padding{
  padding-left: 6.75%
}