.component-cards{border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    margin-bottom : 10px;
}

#leftBlock {
    float:left;
     width: 250px;
}

#rightBlock
{
    float:right;
    width: 250px;
}