nav {
  width: 100%;
  background: #f7f7f7;
}

nav ul {
  -webkit-padding-start: 0 !important;
  margin: 0;
  padding: 0;
  overflow: none;
  white-space: nowrap;
}

nav ul li {
  list-style: none;
  float: left;
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 4px;
}

nav ul li a {
  display: block;
  text-decoration: none;
}


.filter-components {
  font-weight: bold;
}
