<div dirScrollTop id="errorMessageRequestStone" class="ui-g-12 fade no-view-request coming-soon" *ngIf="errorMessage  && !dataFetched">
  {{errorMessage | translate}}
</div>
<div class="ui-g-12 ui-g-nopad" *ngIf="recommendedStoneObject">
  <div class="ui-g-12 ui-g-nopad sms-page-container" *ngIf="recommendedStoneObject.selectedStoneTable.length >= 0">
    <app-selected-stock-panel [eventId]="eventCode" [stockObject]="recommendedStoneObject" (updateArray)="updateStockStoneArray($event.array)"
      [isPreSelectedTab]=false (addedNewStone)="updateMySelection($event.newStoneObj)" (refreshAllNotes)="refreshNotes()"></app-selected-stock-panel>
  </div>
  <div class="ui-g-12 fade ui-g-nopad sms-page-container" *ngIf="recommendedStoneObject.stockTable && selectedColumnList">
    <dx-data-grid id="recommendedStoneContainer" [dataSource]=recommendedStoneObject.stockTable [allowColumnReordering]="true"
      [allowColumnResizing]="true" [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
      [rowAlternationEnabled]="false">
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-scrolling mode="virtual" showScrollbar="always" useNative="false"></dxo-scrolling>
      <dxo-search-panel [visible]="true" placeholder="Search"></dxo-search-panel>
      <dxi-column caption="" [allowHiding]="false" [width]="30" dataType="string" [fixed]="true" [allowReordering]="false" [allowFiltering]="false"
        [allowHeaderFiltering]="false" [allowResizing]="false" cellTemplate="checkboxTemplate" headerCellTemplate="selectAllCheckboxTemplate"
        alignment="center"></dxi-column>
      <div *dxTemplate="let data of 'selectAllCheckboxTemplate'">
        <p-checkbox name="recommendedStoneContainerSelectedTable" label="" id="recommendedStoneContainerSelectALlId" binary="true"
          (onChange)="isAllCheckboxSelected(recommendedStoneObject)" [(ngModel)]="recommendedStoneObject.isAllStoneSelected"></p-checkbox>
      </div>
      <dxi-column dataType="string" [allowHiding]="false"  width="{{isColumnExpanded ? 275 : 130}}" [width]="columnWidth" [fixed]="true" [allowReordering]="false" cellTemplate="Diamond_Template"
        headerCellTemplate="stoneDetailsHeaderTemplate" alignment="center" [allowSorting]="false"></dxi-column>
      <dxi-column caption="Cert." [width]="allColumnWidth.cert" dataField="certificate.short_value" [visible]="selectedColumnList.Certificate.entity_value"
        [visibleIndex]="selectedColumnList.Certificate.order" cellTemplate="viewCertificate" [allowFiltering]="true" dataType="string"
        [allowHeaderFiltering]="true" alignment="center">
      </dxi-column>
      <div *dxTemplate="let data of 'viewCertificate'" class="CertIcon">
        <a class="view-cert" tooltipPosition="bottom" tooltipEvent="hover" [dirStoneMultimediaDetail]="{stoneid:data.data,showMediaType:'PDF'}">{{data.data.certificate.short_value}}</a>
      </div>
      <dxi-column caption="Shape" dataField="shape.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Shape.order" alignment="center"></dxi-column>
      <dxi-column caption="Clarity" dataField="clarity.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [visibleIndex]="selectedColumnList.Clarity.order" [allowHeaderFiltering]="true" alignment="center"></dxi-column>
      <dxi-column caption="Color" dataField="color.short_value" dataType="string" [width]="45" [allowFiltering]="true" [allowSorting]="true"
        [visibleIndex]="selectedColumnList.Colour.order" [allowHeaderFiltering]="true" alignment="center"></dxi-column>
      <dxi-column caption="Carat" dataField="carat" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [visibleIndex]="selectedColumnList.Carat.order" [allowHeaderFiltering]="true" alignment="center"></dxi-column>
      <!-- <dxi-column caption="Diff%" dataField="diff" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true" [allowHeaderFiltering]="true" cellTemplate="Diff_Template" alignment="center" ></dxi-column> -->
      <dxi-column caption="$/ct." dataField="price_srk" dataType="number" [width]="70" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.DollarCT.order" cellTemplate="Price_Template" alignment="center"></dxi-column>
      <dxi-column caption="Off%" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true" [allowHeaderFiltering]="true"
        [visibleIndex]="selectedColumnList.Off.order" cellTemplate="rap_off_per" alignment="center"></dxi-column>

      <dxi-column caption="Cut" dataField="cut.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.cut.order" [visible]="selectedColumnList.cut.entity_value"
        alignment="center">
      </dxi-column>
      <dxi-column caption="Pol" dataField="polish.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.polish.order" [visible]="selectedColumnList.polish.entity_value"
        alignment="center">
      </dxi-column>
      <dxi-column caption="Sym" dataField="symmetry.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.symmetry.order" [visible]="selectedColumnList.symmetry.entity_value"
        alignment="center">
      </dxi-column>
      <dxi-column caption="Fluor" dataField="fluor.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.fluorescence.order" [visible]="selectedColumnList.fluorescence.entity_value"
        alignment="center">
      </dxi-column>

      <dxi-column caption="Measurement" dataField="measurement" dataType="string" [width]="140" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [allowReordering]="true" [visibleIndex]="selectedColumnList.Measurement.order" [visible]="selectedColumnList.Measurement.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="D/R" dataField="ratio" dataType="string" [width]="60" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [allowReordering]="true" [visibleIndex]="selectedColumnList.DR.order" [visible]="selectedColumnList.DR.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="TAB" dataField="table_percent" dataType="string" [width]="60" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [allowReordering]="true" [visibleIndex]="selectedColumnList.Measurement.order" [visible]="selectedColumnList.Tab.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="TD" dataField="total_depth_percent" dataType="string" [width]="60" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [allowReordering]="true" [visibleIndex]="selectedColumnList.Td.order" [visible]="selectedColumnList.Td.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="Shd" dataField="shade.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Measurshadeement.order" [visible]="selectedColumnList.shade.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="Lust" dataField="luster.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.luster.order" [visible]="selectedColumnList.luster.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="TW" dataField="table_white.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.table_white.order" [visible]="selectedColumnList.table_white.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="SW" dataField="side_white.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.side_white.order" [visible]="selectedColumnList.side_white.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="TB" dataField="table_black.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.table_black.order" [visible]="selectedColumnList.table_black.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="SB" dataField="side_black.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.side_black.order" [visible]="selectedColumnList.side_black.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="SGS Comment" dataField="sgs" dataType="string" [width]="380" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.SGS.order" cellTemplate="SgsTemplate" alignment="center"></dxi-column>

      <dxi-column caption="TS" dataField="table_spot.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.table_spot.order" [visible]="selectedColumnList.table_spot.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="SS" dataField="side_spot.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.side_spot.order" [visible]="selectedColumnList.side_spot.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="TO" dataField="table_open.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.table_open.order" [visible]="selectedColumnList.table_open.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="CO" dataField="crown_open.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.crown_open.order" [visible]="selectedColumnList.crown_open.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="PO" dataField="pav_open.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.pav_open.order" [visible]="selectedColumnList.pav_open.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="GO" dataField="girdle_open.short_value" dataType="string" [width]="50" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.girdle_open.order" [visible]="selectedColumnList.girdle_open.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="T EF" dataField="table_extra_facet.short_value" dataType="string" [width]="50" [allowFiltering]="true"
        [allowSorting]="true" [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.table_EF.order" [visible]="selectedColumnList.table_EF.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="C EF" dataField="crown_extra_facet.short_value" dataType="string" [width]="50" [allowFiltering]="true"
        [allowSorting]="true" [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.crown_EF.order" [visible]="selectedColumnList.crown_EF.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="P EF" dataField="pav_extra_facet.short_value" dataType="string" [width]="50" [allowFiltering]="true"
        [allowSorting]="true" [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.pav_EF.order" [visible]="selectedColumnList.pav_EF.entity_value"
        alignment="center"></dxi-column>

      <dxi-column caption="Key To Symbol" dataType="string" dataField="kts" [width]="350" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Key_To_Symbol.order" [visible]="selectedColumnList.Key_To_Symbol.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="Lab Comments" dataType="string" dataField="lab_comment" [width]="150" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Lab_Comments.order" [visible]="selectedColumnList.Lab_Comments.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="Girdle %" dataType="string" dataField="girdle_percent" [width]="70" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.GirdlePer.order" [visible]="selectedColumnList.GirdlePer.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="H&A" dataType="string" dataField="hna.short_value" [width]="70" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.HandA.order" [visible]="selectedColumnList.HandA.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="CertNo" dataType="string" dataField="certificate_no" [width]="100" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Certifficate_No.order" [visible]="selectedColumnList.Certifficate_No.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="Rap $/ct." dataType="string" dataField="price_rap" [width]="70" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Rap_Dollar_CT.order" [visible]="selectedColumnList.Rap_Dollar_CT.entity_value"
        alignment="center"></dxi-column>
      <dxi-column caption="Eligible" dataType="string" dataField="eligibility" [width]="100" [allowFiltering]="true" [allowSorting]="true"
        [allowHeaderFiltering]="true" [visibleIndex]="selectedColumnList.Eligible.order" [visible]="selectedColumnList.Eligible.entity_value"
        alignment="center"></dxi-column>
      <div *dxTemplate="let data of 'stoneDetailsHeaderTemplate'">
        <label class="fl">Diamond Details</label>
        <div *ngIf="!isColumnExpanded" id="NavigationRight" class="custom-button" (click)="scrollColumn()" pTooltip="{{'LEFT_SCROLL_TEXT' |translate}}"
          tooltipPosition="top" tooltipEvent="hover" pTooltip="{{'EXPAND_DETAILS_TEXT' |translate}}" tooltipPosition="bottom"
          tooltipEvent="hover">></div>
        <div *ngIf="isColumnExpanded" id="NavigationLeft" class="custom-button" (click)="scrollColumn()" pTooltip="{{'RIGHT_SCROLL_TEXT' |translate}}"
          tooltipPosition="top" tooltipEvent="hover" pTooltip="{{'COLLAPSE_DETAILS_TEXT' |translate}}" tooltipPosition="bottom"
          tooltipEvent="hover">
          <</div>
        </div>
        <div *dxTemplate="let data of 'checkboxTemplate'">
          <span id="recommendedStoneContainerNotAvailableStoneBox" class="grid-icon-container" *ngIf="data.data.stone_state === 6 || data.data.stone_state === 0 || (data.data.stone_state === 3 && data.data.reason_code !== 1); else showCheckbox">
          </span>
          <ng-template #showCheckbox>
            <span class="grid-icon-container">
              <p-checkbox id="{{data.data.stone_id}}recommendedStoneContainerId" name="recommendedStoneContainerName" value="{{data.data.stone_id}}"
                [(ngModel)]="recommendedStoneObject.selectedStoneArray" (onChange)="filterSelectedStones(recommendedStoneObject,data.data.stone_id)"
                [style.padding.px]="4"></p-checkbox>
            </span>
          </ng-template>
        </div>

        <div *dxTemplate="let data of 'Diamond_Template'">
          <thm-mediaicon [stoneObj]="data.data" #thmMediaIcon></thm-mediaicon>
          <span class="grid-icon-container">
            <a (click)="showStoneMediaIconsPanel(data.data.stone_id,$event,thmMediaIcon.multimediaOverlay)">
              <span id="{{data.data.stone_id}}recommendedStoneContainerViewId" class="grid-icon icon-media"></span>
            </a>
          </span>
          <span class="grid-icon-container-stoneid strike-text" *ngIf="data.data.stone_state === 6 || data.data.stone_state === 0 || (data.data.stone_state === 3 && data.data.reason_code !== 1); else availableStoneId">
            <label title="{{'STONE_NOT_AVAILABLE' | translate }}">{{data.data.stone_id}}</label>
          </span>
          <ng-template #availableStoneId>
            <span [dirStoreAudit]="'STONE DETAIL VIEW'" class="grid-icon-container-stoneid " (click)="addStoneDetailTab(data.data)">
              <a>{{data.data.stone_id}}</a>
            </span>
          </ng-template>

          <span class="grid-icon-container mart0" *ngIf="(data.data.totalViewed > -1  && !(data.data.totalViewed === 0 && data.data.totalViewedByUser === 0)) ">
            <div class="icon-with-text">
              <span id="{{data.data.stone_id}}RecommendedStonesTotViewId" class="grid-icon icon-online-view">
              </span>
              <br>
              <label>
                <span pTooltip="{{'OTHERS_VIEW_TEXT'|translate}}" tooltipPosition="bottom" tooltipEvent="hover">{{data.data.totalViewed}}</span>
                <span *ngIf="data.data.totalViewedByUser > -1" pTooltip="{{'MY_VIEW_TEXT'|translate}}"
                  tooltipPosition="bottom" tooltipEvent="hover">/{{data.data.totalViewedByUser}}</span>
              </label>
            </div>
          </span>

          <span class="grid-icon-container mart0" *ngIf="data.data.totalViewRequest">
            <div class="icon-with-text">
              <span pTooltip="{{(data.data.viewRequestStatus=== 2?'ALREADY_VIEWED_TEXT':'VIEW_REQUEST_TEXT') |translate}}" tooltipPosition="bottom"
                tooltipEvent="hover" id="{{data.data.stone_id}}RecommendedStonesViewReqId" class="grid-icon icon-my-view" [ngClass]="{'text-red': data.data.viewRequestStatus=== 2}">
              </span>
              <br>
              <label *ngIf="data.data.totalViewRequest > 1"> {{data.data.totalViewRequest}}</label>
            </div>
          </span>
          <span class="grid-icon-container" *ngIf="data.data.isBasket">
            <span id="{{data.data.stone_id}}RecommendedStonesCartId" pTooltip="{{(data.data.basketStatus==='<'?'BASKET_PRICE_REVISED_TEXT':'BASKET_TEXT') |translate}}"
              tooltipPosition="bottom" tooltipEvent="hover" class="grid-icon icon-cart" [ngClass]="{ 'text-red': data.data.basketStatus==='<'}"></span>
          </span>
          <span class="grid-icon-container" *ngIf="data.data.isRecommended">
            <span id="{{data.data.stone_id}}RecommendedStonesRecommendedId" pTooltip="{{'Recommended Stone'|translate}}" tooltipPosition="bottom" tooltipEvent="hover" class="grid-icon srk-recommend"></span>
          </span>
          <span class="grid-icon-container" *ngIf="data.data.isOnHold">
            <span id="{{data.data.stone_id}}RecommendedStonesholdId" class="grid-icon icon-hold-list-option-2">
            </span>
          </span>
          <span id="RecommendedStonesNotAvailableIconBox" *ngIf="(data.data.stone_state === 6 || data.data.stone_state === 0 || (data.data.stone_state === 3 && data.data.reason_code !== 1)); else showIcons">
          </span>
          <ng-template #showIcons>
            <span class="grid-icon-container" *ngIf="data.data.b2b_state === 1">
              <a (click)="openBTB(data.data)">
                <span id="{{data.data.stone_id}}RecommendedStonesB2BId" class="grid-icon icon-b2b" pTooltip="{{(data.data.isBtbUpdated === 1?'BID_SAVED':(data.data.isBtbUpdated === 2?'FINAL_SUBMITTED':'B2B_ACTIVE'))|translate}}"
                  tooltipPosition="bottom" tooltipEvent="hover" [ngClass]="{'text-green': data.data.isBtbUpdated === 2,'text-red': data.data.isBtbUpdated === 1}">
                </span>
              </a>
            </span>
            <ng-template [dirCheckPermission]="'ddc_btn'">
              <span class="grid-icon-container" *ngIf="data.data.business_process">
                <a (click)="updateDDC(data.data)">
                  <span pTooltip="{{(data.data.ddcStatus==='ACTIVE'?'DDC_ACTIVE':(data.data.ddcStatus==='INACTIVE'?'DDC_INACTIVE':'DDC_PUT')) |translate}}"
                    tooltipPosition="bottom" tooltipEvent="hover" id="{{data.data.stone_id}}RecommendedStonesDDCId" class="grid-icon icon-ddc"
                    [ngClass]="{'text-green': data.data.ddcStatus==='ACTIVE','text-red': data.data.ddcStatus==='INACTIVE'}">
                  </span>
                </a>
              </span>
            </ng-template>
          </ng-template>
          <span class="grid-icon-container" *ngIf="data.data.showHoldIcon">
            <span id="{{data.data.stone_id}}showHoldIcon" pTooltip="{{'HOLD_ICON_DETAIL_TEXT'|translate}}"
              tooltipPosition="bottom" class="grid-icon icon-hold-list-option-2"></span>
          </span>
          <span class="grid-icon-container" *ngIf="data.data.isTwin">
            <a [dirStoreAudit]="'STD DETAIL VIEW'" id="{{data.data.stone_id}}RecommendedStonesSTDId" [dirCustomEventAccessHandler]="'twin_diamond_detail_view'"
              (customEvent)="addTwinStoneInfoTab(data.data.std_grp_no)">
              <span pTooltip="{{'TWIN_DIAMOND_DETAIL_TEXT' |translate}}" tooltipPosition="bottom" tooltipEvent="hover" class=" icon-Twin-Shape-Round "></span>
            </a>
          </span>
          <span class="grid-icon-container mart0" *ngIf="data.data.haveNote">
            <a>
              <span id="{{data.data.stone_id}}notes" pTooltip="{{'NOTE'|translate}}" tooltipPosition="bottom" tooltipEvent="hover" class="grid-icon icon-note"
                (click)="showAllCommentsForStone(data.data.notes)"></span>
              <br>
              <span *ngIf="data.data.haveNote" id="{{data.data.stone_id}}notesCount" class="note" (click)="showAllCommentsForStone(data.data.notes)">{{data.data.totalNotes}}
              </span>
            </a>
          </span>
          <span class="grid-icon-container" *ngIf="data.data.countryCode">
            <img id="{{data.data.stone_id}}Flag" class="stone-flag-icon" [src]=data.data.countryCode pTooltip={{data.data.tooltipMessage}}
              tooltipPosition="bottom" tooltipEvent="hover">
          </span>
          <span *ngIf="data.data.color_legends" class="color-right">
            <div id="{{data.data.stone_id}}RecommendedStonesColorId" class="color-indicator-panel" *ngFor="let color of data.data.color_legends">
              <div id="{{data.data.stone_id}}RecommendedStones{{color}}Id" class="colorLagend_GRID" [style.background-color]="color | safeStyle"></div>
            </div>
          </span>
        </div>

        <div *dxTemplate="let data of 'Price_Template'">
          <div class="new_price">{{data.data.price_srk}}</div>
        </div>

        <div *dxTemplate="let data of 'Diff_Template'">
          {{data.data.diffPercent | number:'1.2-2'}}
        </div>

        <div *dxTemplate="let data of 'rap_off_per'">
          <span>{{data.data.rap_off}}</span>
        </div>

        <div *dxTemplate="let data of 'SgsTemplate'">
          <span>{{data.data.sgs.toString()}}</span>
        </div>
    </dx-data-grid>
    </div>
  </div>

  <thm-multimedia-popup #themeMultimediaPopUp [displayMultimediaPopup]="toggleMultimediaPopup" [popUpMultimediaInfo]="stoneMultimediaInfo"
    (closePopup)="toggleCloseMultimediaPopUp($event)"></thm-multimedia-popup>
  <thm-ddc-overlay #thmDdcOverlay [visibleDdcOverlay]="ddcOverlayVisible" [stoneList]="ddcStones" [previousDdcHour]="definedDDCHour"
    (toggleDdcOverlay)="toggleDdcOverlay($event)"></thm-ddc-overlay>
  <thm-addnote-overlay #thmAddnoteOverlay [visibleAddnoteOverlay]="addnoteOverlayVisible" [visibleShownoteOverlay]="commentsOverlayVisible"
    [stoneIdList]="selectedStones" [CommentListForStone]="allNotesForStone" (toggleAddNoteOverlay)="toggleAddNoteOverlay($event)"></thm-addnote-overlay>
