.result-tabs {
  padding: 0 0 10px 40px;
}
// app-web-search .dx-tab-text {
//   font-size: 20px;
//   color: #7e868f;
// }

.lbl-packet {
  margin: 5px;
  display: table;
}

.icon-btn-links {
  font-size: 14px;
  display: block;
  margin-top: 15px;
}
.creat-button{ margin: 0px;}
.restore-packet-link{ cursor: pointer; text-decoration: underline;}
