.basket-grid-container {
  height: 700px;
}
.text-right {
  text-align: right;
  padding-right: 65px;
}
.legend-box{float: right; margin-right: 11px;}
.indicator-container{padding-right: 40px;}
.icon-download-position{padding-left: 5px; }
