.save-button{
  float: right;
}

input { font-size: 14px; padding: 10px 10px 10px 5px; -webkit-appearance: none; width: 98%;   border-radius: 4px;border:0px ; }
.stone-display-container{max-height: 120px; overflow: auto;}
.icon-load{text-align: center; display: none;}
