.button-bar{text-align: center;}
.multimedia{text-align: center; width: 100%; height: 90%}
.multimedia-button {  padding: 5px;  font-size: 16px;  padding: 5px 10px;}
.multimedia-button-active {  padding: 5px;  font-size: 16px;  padding: 5px 10px;}
.dtl-icon, .dtl-icon-active{font-size: 24px;padding: 3px 5px;}
.box-multi{min-height: 80vh; max-height: 80vh;}
#multimediaBox{height: 90vh;}
.iframe-display { height: 75vh;}
.iframe-display-digiplot { height: 70vh;}
.src-image-display{max-height: 75vh; max-width: 90%;}