#myConfirmationpGridContainer {
    height: auto;
}
.custom-btnBorder{ margin-top: 0px; margin-bottom: 0px;}
.disable-font{
    font-family: 'Solitaire' !important;
    font-size: 20px;
}
.confirmation-box{width: 100px; float: right;}
.download-invoice-box{float: right};