.card-footer-skeleton{ display: block;  background-color: #f6f6f6; height: 14px;  width: 60%;  border-radius: 50px;  margin-left: -4px;  margin-bottom: 10px;}
.card-content-skeleton{ display: block;  background-color: #f6f6f6;  height: 14px;  width: 120px;  border-radius: 50px;  margin-left: -4px;  margin-bottom: 10px; }
.contact-circle {position:absolute;font-size: 72px;  border-radius: 100px;  height: 60px;  padding: 15px 0 68px 15px;}
.contact-text {  padding: 24px 0 0;  font-size: 16px;  font-weight: bold;}
.sub-context-contact {  font-size: 14px;  font-weight: normal;}
.sub-context-online {  font-size: 14px;  font-weight: normal;  padding: 4px 0 0;}
.status-icon{font-size: 12px; padding: 3px;}
.contact-box {  padding: 0 0 0 20px;}
.contact-icons {  padding: 0 20px 0 0;}
#contactBottomContainer {  padding: 21px 0 0;}
.sub-context-offline{font-size: 14px;font-weight: normal;}
.profile-icon{font-size: 20px;}
