@media (min-width: 1025px) {  .last-content {    border-right: 2px solid #e0e0e0;  }}
.final-payable {  font-weight: bold;}
.panel-maintext {  font-weight: bold;  font-size: 16px;  padding: 0px;}
// .selected-stone-table-container {  max-height: 450px;}
#selectedStoneContainer {height: 250px;  width: 100%;}
.raw-box-container{border:1px solid; margin:10px 0px 0px 0px;padding:18px;border-radius: 4px;}
.lbl-viewrequest-value-stones{font-size: 14px;padding: 3px 5px;text-align: left;margin: 0 2px;}
.lbl-selected-stone-value-large{ font-size: 14px ; font-weight: bold; padding: 3px 5px; text-align: left;}
.active-ddc {color: green;}
.inactive-ddc {color: red;}
.download-icons{text-align: right;}
.ui-state-highlight{background: #afdde9 !important;}
.dx-template-wrapper{padding: 0 !important;}
.color-change {color:rgb(82,84,102) !important;border-color: rgb(82,84,102) !important;}
.event-color-change {color: rgb(134,171, 249) !important;border-color: rgb(134, 171, 249) !important;}