<div class="ui-grid ui-grid-responsive h100" id="root-container">
  <router-outlet></router-outlet>
</div>

<!-- earlier height and width was width="200" height="110"  for normal loader. Also update ui-block-loading-img css in styles.scss file -->
<p-dialog [(visible)]="blockPage" appendTo="body" height="240" width="220" [modal]="true" [showHeader]="false" [closable]="false" [draggable]="false"
  [resizable]="false" [closeOnEscape]="false">
  <div style="background-color:white">
    <div class="ui-g-12 ui-block-loading-message-panel">
      <span>{{blockMessage | translate}}</span>
    </div>
    <div class="ui-g-12 ui-g-nopad ui-block-loading-img">
      <!-- <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i> -->
      <img src="./assets/img/srk-loading-logo.gif">
    </div>
  </div>
</p-dialog>

<p-growl [value]="msgs" [life]="7000" ></p-growl>
