.packet-input {
  padding: 15px;
  margin: 10px 0;
  width: 100%;
}

.ui-widget-content {
  border: 0;
}
.create-packet-container{ margin: 5px 5px 5px 0px;}
.stoneid-box{
  max-height: 100px;
  overflow-x: hidden;
  margin-bottom: 10px;
}