.lbl-appointment-value-large{font-size: 14px;padding:3px 5px;text-align:left; margin:0px 2px;}
.lbl-appointment-value-small{font-size: 12px;padding:3px 5px;text-align:left; margin:0px 2px;}
.lbl-appointment-value-comments{font-size: 12px;padding:3px 5px;text-align:left; margin:0px 2px;width: 100%;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;    line-height: 20px;}
.lbl-appointmnet-value-stones{font-size: 14px;padding:3px 5px;text-align:left; margin:0px 2px;font-weight: bold;}
.raw-box-container{border:1px solid; margin:0px 0px 7px 0px;border-radius: 4px;}
.icon-btn-links{   font-size: 14px; margin-top: 8px; text-align: center; display: block;}
input { font-size: 14px; padding: 10px 10px 10px 5px; -webkit-appearance: none; width: 98%;   border: 1px solid ; border-radius: 4px; }
.no-view-request{text-align: center;font-size: 25px;}
.color-right{float:right;}
.add-icon {
  font-size: 24px;
  margin-top: 6px;
  display: table;
  cursor: pointer;
}
.action-button-bar{text-align: right;}
.appointment-container{max-height: 300px; width:100%; overflow: auto;}
#viewCommentsBox{max-height: 350px; overflow: auto;}
.appointment-button{ margin-top: 0px; margin-bottom: 0px;}
