<div class="ui-g ui-g-12" *ngIf="!isResetSuccessfull; else resetSuccessfull">
  <div class="ui-g-2"></div>
  <div class="ui-g-10">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetForm(resetPasswordForm.value)">

      <h2 class="rp-title">{{'Reset Password'|translate}}</h2>

      <div id="newPassword" class="group">
        <input id="newPasswordId" type="password" placeholder="{{'Password'|translate}}" formControlName="password" class="input-border"><span class="highlight"></span>
        <div id="newPasswordError" class="error" *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched">
          {{'Password' |translate}} {{'is required' |translate}}
        </div>
        <div id="passwordLengthError" class="error" *ngIf="resetPasswordForm.get('password').hasError('minlength') && resetPasswordForm.get('password').touched">
          {{'PASSWORD_LENGTH_ERROR' |translate}}
        </div>
      </div>


      <div id="confirmPassword" class="group">
        <input id="confirmPasswordId" placeholder="{{'Confirm'|translate}} {{'Password'|translate}}" type="password" formControlName="confirmPassword" class="input-border"><span class="highlight"></span>
        <div id="confirmPasswordError" class="error" *ngIf="resetPasswordForm.get('confirmPassword').hasError('required') && resetPasswordForm.get('confirmPassword').dirty">
          {{'Please' |translate}} {{'Confirm' |translate}} {{'Password' |translate}}
        </div>
      </div>


      <button [dirStoreAudit]="'RESET PASSWORD'"  id="submitForgotId" [disabled]="resetPasswordForm.invalid" type="submit" pButton label="{{'Reset Password'|translate}}" class="custom-btnPrimary">
    </button>
      <div id="errorForgotMessage" class="ui-g-12 error" *ngIf="errorMessage">
        {{errorMessage | translate}}
      </div>
    </form>
  </div>

</div>
<ng-template #resetSuccessfull>
    <div class="text-center">
      <h2>{{'Reset Successful' |translate}}</h2>
      <div class="group">
        {{'Password_Reset_Successfull' | translate}}<br> {{'To login again, click' |translate}} <a class="redirectLogin" (click)="renderLoginPage()">{{'here' |translate}}</a>
      </div>
    </div>
</ng-template>
