.ui-widget-content {
  border: 0;
}

.load-icon {
  padding: 10px;
}

.loading-box {
  min-height: 400px;
}

.ddc-loading-content {
  text-align: center;
  margin: auto;
  font-size: 1.5em;
}
#ddcStoneList{ word-break: break-word}