img {
  min-height: 100%;
  width: 100%;
  height: 99.3vh;
}

.close {
  position: absolute;
  right: 20px;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  top: 0px
}

.close img {
  height: 20px;
  width: 20px;
}

#bgvid {
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
}

#mainBoxId {
  background-color: #161618;
  height: 100%;
}

.close-icon {
  font-size: 20px;
}

div#commonBox {
  height: 100vh;
  position: relative;
}

.container-height100 {
  display: flex;
  align-items: center;
}

@media(max-width: 768px) {
  .close-icon {
    font-size: 15px;
  }
}
