$borderColor: #e0e0e0;
$boxContentColor: #ffffff;
$savedSearchBorderColor: #cacee1;
$closeBtnFontColor: #AFDDE9;
$buttonLoginColor: #4c9de9;
$myPacketTextColor: #999999;
$detailBackgroundColor: #434453;
/*Latest Theme Variables*/

/*Color Lagend*/

$colorLagend_RecentlyUploded: #6EFD0B;
/*GREEN*/

$colorLagend_BTOB: #FFFF33;
/*Yellow*/

$colorLagend_Default: #ff0000;
$colorLagend_Common: #7EB6FF;
$colorLagend_DAYP: #36648B;
$colorLagend_Basket: green;
$colorLagend_BusinessProcess: #FC79C8;
/*PINK*/

$colorLagend_NewArrival: #FD880B;
/*Orange*/

$bg_Color: #ffffff;
$pageBackgroundColor: #f6f6f6;
$cardTextColor: #434453;
$placeholder_FontColor: #bdbbbb;
$input_BorderColor: #cacee1;
$input_BGColor: #ffffff;
$btnBorder_BGColor: #ffffff;
$btnBorder_FontColor: #434453;
$btnBorder_BorderColor: #BDBBBB;
$btnPrimary_BGColor: #AFDDE9;
$btnPrimary_FontColor: #434453;
$btnPrimary_BorderColor: #89AFB9;
$btnSecondary_BGColor: #9faab8;
$btnSecondary_FontColor: #ffffff;
$btnSecondary_BorderColor: #f0f0f0;
$btnDarkTab_BGColor: #434453;
$btnDarkTab_FontColor: #444e5a;
$btnDarkTab_BorderColor: #434453;
$txt_Color: #262a42;
$txtColorLink_Color: #4E4C4D;
$txtHeadPrimary_FontColor: #434453;
$txtHeadSecondary_FontColor: #4E4C4D;
$lblWithBG_BGColor: #d9edf7;
$lblWithBG_FontColor: #262a42;
$lblWithBG_BorderColor: #d9edf7;
$borderColorTabPrimary_BorderColor: #e0e0e0;
$borderColorGridHead_BorderColor: #e0e0e0;
$borderColorTabActive_BorderColor: #434453;
$borderColorGridCell_BorderColor: #cacee1;
$rowHoverColor_BGColor: #d9edf7;
$rowHoverColor_FontColor: #262a42;
$txtColorLight_FontColor: #434453;
$txtColorDtlLight_FontColor: #7e868f;
$txtHeadPrimaryLight_FontColor: #7e868f;
$iconFontColorPrimary_FontColor: #4E4C4D;
//new added icon font color
$error: #ff0000;
$success: green;
$notavailable: #e3880c;
$available: green;
$leftMenuBarDefault_BackgroundColor: #434453; // new added for menu bar bg color
$leftMenuBarActive_BackgroundColor: #AFDDE9;
$leftMenuBar_ActiveFontColor: #434453;
$leftMenuBar_DefaultFontColor: #ffffff;
$leftMenuBar_HoverBGColor: #525466;
$notificationHighlightColor: #e3880c;
$checkBox_BorderCoolor: #4e4c4d;
$chatBot_BgColor: #434453;
$inputSecondary_BorderColor: #cacee1;
$btnPrimary_BGColor_Disable: #d0d0d0;
$bannerBackgroundColor: #444554;
$rowSelectionColor: #d9edf7;
$datagridFontColor: #000;
$datagridRowColor: #ddd;
$recommendedCardBorderColor: #f5c5ae;
$srkOfficeCloseColor: #ffbebe;
$srkEventColor: #c6d9f1;
