<div id="changePasswordBox" class="ui-g-12 ">
  <h3 class="profile-head">{{'Change'|translate}} {{'Password' | translate}}</h3>
  <form novalidate [formGroup]="changePasswordForm" (ngSubmit)="submitPasswordForm(changePasswordForm.value)">
    <div id="changePasswordId" class="ui-g-12  ui-g-nopad">
      <div id="clientNameLabel" class="ui-g-2 ui-g-nopad profile-label marg10">
        {{'Login' |translate}} {{'Name'|translate}}:
      </div>
      <div id="clientName" class="ui-g-10 ui-g-nopad marg10">
        {{loginName}}
      </div>
      <div id="oldPasswordLabel" class="ui-g-2 ui-g-nopad profile-label marg10">
        {{'Old'|translate}} {{'Password'|translate}}:*
      </div>
      <div id="oldPassword" class="ui-g-10 ui-g-nopad marg10">
        <input id="oldPasswordId" pInputText type="password" formControlName="old_password" class="input-border" (blur)="successMessage=''"><span class="highlight"></span>
        <div id="oldPasswordError" class="error" *ngIf="changePasswordForm.get('old_password').hasError('required') && changePasswordForm.get('old_password').touched">
          {{'Old' |translate}} {{'Password' |translate}} {{'is required' |translate}}
        </div>
      </div>
      <div id="newPasswordLabel" class="ui-g-2 ui-g-nopad profile-label marg10">
        {{'New'|translate}} {{'Password'|translate}}:*
      </div>
      <div id="newPassword" class="ui-g-10 ui-g-nopad marg10">
        <input id="newPasswordId" pInputText type="password" pPassword formControlName="new_password" class="input-border" [feedback]="false" (blur)="successMessage=''"><span class="highlight"></span>
        <div id="newPasswordError" class="error" *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched">
          {{'New' |translate}} {{'Password' |translate}} {{'is required' |translate}}
        </div>
        <div id="passwordLengthError" class="error" *ngIf="changePasswordForm.get('new_password').hasError('minlength') && changePasswordForm.get('new_password').touched">
          {{'PASSWORD_LENGTH_ERROR' |translate}}
        </div>
      </div>
      <div id="confirmPasswordLabel" class="ui-g-2 ui-g-nopad profile-label marg10">
        {{'Confirm'|translate}} {{'Password'|translate}}:*
      </div>
      <div id="confirmPassword" class="ui-g-10 ui-g-nopad marg10">
        <input id="confirmPasswordId" pInputText type="password" formControlName="confirmPassword" class="input-border" (blur)="successMessage=''"><span class="highlight"></span>
        <div id="confirmPasswordError" class="error" *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
          {{'Please' |translate}} {{'Confirm' |translate}} {{'Password' |translate}}
        </div>
      </div>
      <div id="updateButtonBox" class="ui-g-12 ui-g-nopad">
        <div id="emptyBox" class="ui-g-2"></div>
        <div id="updateButton" class="ui-g-10 ui-g-nopad">
          <button [dirStoreAudit]="'CHANGE PASSWORD'" class="custom-btnPrimary" id="updateId" type="submit" pButton [disabled]="!changePasswordForm.valid" label="{{'Update'|translate}}"></button>
        </div><br>
        <div id="emptyMessageBox" class="ui-g-2"></div>
        <div id="errorMessageId" class="ui-g-10 ui-g-nopad error" *ngIf="errorMessage">
          {{errorMessage | translate}}
        </div>
        <div id="successMessageId" class="ui-g-10 ui-g-nopad success-message" *ngIf="successMessage">
          {{successMessage | translate}}
        </div>
      </div>
    </div>
  </form>
</div>
