<div class="infragistics-grid-container" style="margin: 2.5rem auto 0 auto; position: relative;" [style.height.px]="calculatedGridHeight">
    
      <input #searchInput type="text" class="grid-search-input" placeholder="Search grid">
    
      <div *ngIf="displayGridLoadingOverlay" class="grid-loading-overlay" [style.height.px]="calculatedGridHeight + 30">
    
        <!-- <img src="/assets/Ignite UI/css/structure/images/igLoadingSmall.gif" alt="LOADING"> -->
      <img src="./assets/img/srk-loading-logo.gif" alt="LOADING">

    
      </div>
    
      <table [id]="'grid'+gridName"></table>
    
      <app-context-menu *ngIf="displayContextMenu"
                        [posX]="menuXPosition"
                        [posY]="menuYPosition"
                        [optionsList]="contextMenuOptionsList"
                        (optionClicked)="applyContextMenuActionToGrid($event)">
      </app-context-menu>
    
    </div>
    
    
    