<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="SRK.ONE" />
            </div>
            <div class="well login-box">
                <div class="loginwrap">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm(changePasswordForm.value)">
                        <h3 class="rp-title">{{'Reset Password'|translate}}</h3>
                        <div class="form-group">
                            <label class="input-border">Enter Username</label>
                            <input placeholder="Username" id="userName" type="text" formControlName="userName" class="form-control" />
                            <div id="userNameError" class="error" *ngIf="changePasswordForm.get('userName').hasError('required') && changePasswordForm.get('userName').touched">
                                {{'Username' |translate}} {{'is required' |translate}}
                            </div>
                        </div>
                        <div class="group">
                            <label class="input-border">New Password</label>
                            <input placeholder="New Password" id="newPasswordId" type="Password" formControlName="password" class="form-control" />
                            <div id="newPasswordError" class="error" *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">
                                {{'Password' |translate}} {{'is required' |translate}}
                            </div>
                            <div id="passwordLengthError" class="error" *ngIf="changePasswordForm.get('password').hasError('minlength') && changePasswordForm.get('password').touched">
                                {{'Minimum' |translate}} {{'6' |translate}} {{'letters' |translate}} {{'required' |translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-border">Confirm Password</label>
                            <input placeholder="Confirm Password" id="confirmPasswordId" type="password" formControlName="confirmPassword" class="form-control"
                            />
                            <div id="confirmPasswordError" class="error" *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').dirty">
                                {{'Confirm' |translate}} {{'Password' |translate}} {{'required' |translate}}
                            </div>
                            <div id="errorForgotMessage" class="ui-g-12 error" *ngIf="errorMessage">
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="fprpass-text">You need to Re-Login with new password after pressing "Reset Password"</p>
                            <button class="btn btn-default" [dirStoreAudit]="'RESET PASSWORD'" id="submitForgotId" [disabled]="changePasswordForm.invalid" type="submit" pButton label="{{'Reset Password'|translate}}"></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>