.baske-page-title { font-size: 24px; font-weight: normal; line-height: normal; }
.page-margin{margin: 0px 36px;}
.raw-box-container{border:1px solid; margin:10px 0px 0px 0px;border-radius: 4px;}
.error{padding: 0px 0px 0px 35px;}
.lbl-basket-value-large{font-size: 14px;padding:3px 5px;text-align:left; margin:0px 2px;}
.lbl-basket-value-small{font-size: 12px;padding:3px 5px;text-align:left; margin:0px 2px;}
.lbl-basket-value-stones{font-size: 14px;padding:3px 5px;text-align:left; margin:0px 2px;font-weight: bold;}
.icon-btn-links{ font-size: 14px; display:block; margin-top: 15px; text-decoration: underline; text-align:right;}
.basket-page-icons{  padding-top:15px;}
.creat-package{float: right; margin-top: 0px; margin-bottom: 0px;}
.baksetList{
	margin-bottom: 30px;
}
.expand-link{ float: right; text-decoration: underline;}
.ico-container
{
	padding: 16px 8px;
}
.button-bar-align{text-align: right;}
.show-button{margin-top: 0px; margin-bottom: 0px;}
.basket-skeleton {
  display: inline-block;
  background-color: #f6f6f6;
  height: 20px;
  width: 50%;
  border-radius: 50px;
}
.lbl-ddc-value-large{  font-size: 16px;  padding: 3px 5px;  text-align: left;  margin: 0 2px;}
.lbl-ddc-value-small {  font-size: 12px;  padding: 3px 5px;  text-align: left;  margin: 0 2px;}
.lbl-ddc-value-large-active{font-size: 16px;  padding: 3px 5px;  text-align: left;  margin: 0 2px;  font-weight: bold;}
.lbl-ddc-value-small-active{ font-size: 12px;  padding: 3px 5px;  text-align: left;  margin: 0 2px;}
.info-panel{ display: table;    width: 100%;    padding: 9px 0px 9px 0px; }
.tab-panel{padding: 45px 20px 0 0}
.basket-label-heading{  font-size: 18px; font-weight: normal;}
.no-container{background-color: transparent !important; border: none !important;}