// #allBtbStoneContainer{max-height: 750px; overflow: auto; max-width: 100%;}
.no-view-request{text-align: center;font-size: 25px;}
.dx-datagrid-content .dx-datagrid-table{
    
    border-collapse: inherit;
  }
  